@use "fonts";
//fonts
$PoiretOne-Regular: "PoiretOne-Regular";
$Manrope-ExtraBold: "Manrope-ExtraBold";
$Poppins-Black: "Poppins-Black";
$Poppins-BlackItalic: "Poppins-BlackItalic";
$Poppins-Bold: "Poppins-Bold";
$Poppins-BoldItalic: "Poppins-BoldItalic";
$Poppins-ExtraBold: "Poppins-ExtraBold";
$Poppins-ExtraBoldItalic: "Poppins-ExtraBoldItalic";
$Poppins-ExtraLight: "Poppins-ExtraLight";
$Poppins-ExtraLightItalic: "Poppins-ExtraLightItalic";
$Poppins-Italic: "Poppins-Italic";
$Poppins-Light: "Poppins-Light";
$Poppins-LightItalic: "Poppins-LightItalic";
$Poppins-Medium: "Poppins-Medium";
$Poppins-MediumItalic: "Poppins-MediumItalic";
$Poppins-Regular: "Poppins-Regular";
$Poppins-SemiBold: "Poppins-SemiBold";
$Poppins-SemiBoldItalic: "Poppins-SemiBoldItalic";
$Poppins-Thin: "Poppins-Thin";

//fonts
$primary: #020001;
$secondary: #333333;
$third: #171717;
$forth: #838383;
$fifth: #494949;
$black: #000;
$white: #fff;
$yellow: #e59c19;
$bx_shdw: 2px 2px 10px 0px #00000012;
$danger: #920000;
